.ArtworkSmall {
  &__img {
    height: 20rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      background-position: center;
    }
  }

  &__content {
    margin-top: 1rem;
  }

  &__title {
    font-family: 'Playfair Display', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.8rem;
  }

  &__author {
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
  }

  &__detail {
    display: flex;
    margin-top: 1rem;

    button {
      margin-right: 1rem;
    }
  }

  &__price {
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.8rem;
    margin-right: 1rem;
  }
}